<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="/lib/twitter-bootstrap/css/*.min.css"
          asp-href-exclude="**/*-reboot*, **/*-grid*" />   
    <link rel="stylesheet" asp-href-include="/assets/css/main.css" />
</head>
<body>
    <main class="container">
        @RenderBody()
    </main>
</body>
</html>
