@model TechSupportApp.Application.Tickets.Queries.GetAllTickets.GetAllTicketsVm

<table>
    @foreach (var ticket in Model.Tickets)
    {
        <tr>
            <td>@ticket.Id</td>
            <td>@ticket.Issuer</td>
            <td>@ticket.Issue</td>            
            <td>@Model.TicketStatusList.First(t => t.Value == ticket.TicketStatus).Name</td>
        </tr>
    }
</table>

