@model TechSupportApp.Application.Tickets.Queries.GetAllTickets.GetAllTicketsVm

<table>
    @foreach (var ticket in Model.Tickets)
    {
        <tr>
            <td>@ticket.Id</td>
            <td>@ticket.Issuer</td>
            <td>@ticket.LatestIssue</td>
            <td>@ticket.TicketStatus</td>
        </tr>
    }
</table>

